@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
html {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
}
p {
  background-color: #d7d6d6;
  border-radius: 5px;
  box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.75);
  width: 90%;
  margin: auto;
}
.question {
  width: 730px;
}
.part1 {
  width: 100%;
  height: 1800px;
  border: 1px solid #000;
}
h3 {
  text-align: center;
}
img {
  width: 200px;
  margin: auto;
  border-radius: 100px;
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
  display: flex;
}